<div class="col-md-12 col-lg-4">
    <div class="card">
        <div class="card-body">
            <h5 class="m-b-0">Khách hàng trong tháng</h5>
            <div class="m-v-60 text-center" style="height: 200px">
                <canvas class="chart" id="customers-chart"></canvas>
            </div>
            <div class="row border-top p-t-25">
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <div class="media align-items-center">
                            <span class="badge badge-success badge-dot m-r-10"></span>
                            <div class="m-l-5">
                                <h4 class="m-b-0">10</h4>
                                <p class="m-b-0 muted">Mới</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <div class="media align-items-center">
                            <span class="badge badge-secondary badge-dot m-r-10"></span>
                            <div class="m-l-5">
                                <h4 class="m-b-0">20</h4>
                                <p class="m-b-0 muted">Quay lại</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-center">
                        <div class="media align-items-center">
                            <span class="badge badge-warning badge-dot m-r-10"></span>
                            <div class="m-l-5">
                                <h4 class="m-b-0">30</h4>
                                <p class="m-b-0 muted">Khác</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
