<div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
        <h5>Tổng doanh thu</h5>
        <div>
            <div class="btn-group">
                <button class="btn btn-default active">
                    <span>Tháng này</span>
                </button>
               
            </div>
        </div>
    </div>
    <div class="m-t-50" style="height: 330px">
        <canvas class="chart" id="revenue-chart"></canvas>
    </div>
</div>
