<!-- Utilize Cart Menu Start -->
<div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu">
    <div class="ltn__utilize-menu-inner ltn__scrollbar">
        <div class="ltn__utilize-menu-head">
            <span class="ltn__utilize-menu-title">Giỏ hàng</span>
            <button class="ltn__utilize-close">×</button>
        </div>
        <div class="mini-cart-product-area ltn__scrollbar">

            <div class="mini-cart-item clearfix">
                <div class="mini-cart-img">
                    <a href="#"><img src="~/Content/img/product/temp.png" alt="Hình ảnh"></a>
                    <span class="mini-cart-item-delete"><i class="icon-cancel"></i></span>
                </div>
                <div class="mini-cart-info">
                    <h6><a href="#">Tên sản phẩm</a></h6>
                    <span class="mini-cart-quantity">1 x 85.00$</span>
                </div>
            </div>

        </div>
        <div class="mini-cart-footer">
            <div class="mini-cart-sub-total">
                <h5>Tổng tiền: <span>0 VNĐ</span></h5>
            </div>
            <div class="btn-wrapper">
                <a href="@Url.Action("Index")" class="theme-btn-1 btn btn-effect-1">Xem giỏ hàng</a>
                <a href="cart.html" class="theme-btn-2 btn btn-effect-2">Thanh toán</a>
            </div>
            <p>Miễn phí giao hàng cho tất cả đơn hàng trên 300.000 đ!</p>
        </div>

    </div>
</div>

<!-- Utilize Cart Menu End -->
