
@{
    ViewBag.Title = "Về chúng tôi - PharmaVillage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ltn__utilize-overlay"></div>

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image " data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Về chúng tôi</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="@Url.Action("Index","Home")"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Giới thiệu</a></li>
                            <li>Về chúng tôi</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->
<!-- ABOUT US AREA START -->
<div class="ltn__about-us-area pt-25--- pb-120 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="about-us-img-wrap about-img-left">
                    <img src="~/Content/img/others/9.png" alt="About Us Image">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-us-info-wrap">
                    <div class="section-title-area ltn__section-title-2--- mb-30">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color d-none">About Us</h6>
                        <h1 class="section-title">Đối tác trung thành của bạn Hàng hóa y tế</h1>
                        <p>
                            tiềm năng không giới hạn
                        </p>
                    </div>
                    <ul class="ltn__list-item-1 ltn__list-item-1-before--- clearfix">
                        <li><i class="fas fa-check-square"></i> Bảo mật tốt hơn cho quyền riêng tư và thông tin của bệnh nhân.</li>
                        <li><i class="fas fa-check-square"></i> Nhiều sản phẩm hơn với giá thấp hơn.</li>
                        <li><i class="fas fa-check-square"></i> kết nối khách hàng với sức mạnh của thương mại điện tử.</li>
                    </ul>
                    <div class="about-author-info-2 border-top mt-30 pt-20">
                        <ul>
                            <li>
                                <div class="about-author-info-2-brief  d-flex">
                                    <div class="author-img">
                                        <img src="~/Content/img/blog/author.jpg" alt="#">
                                    </div>
                                    <div class="author-name-designation">
                                        <h4 class="mb-0">Trần Ngọc Minh</h4>
                                        <small>Dược sĩ đầu ngành</small>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="about-author-info-2-contact  d-flex">
                                    <div class="about-contact-icon d-flex align-self-center mr-10">
                                        <i class="icon-call"></i>
                                    </div>
                                    <div class="about-author-info-2-contact-info">
                                        <small>Cần hỗ trợ</small>
                                        <h6 class="mb-0">1800 6821</h6>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ABOUT US AREA END -->
<!-- COUNTDOWN AREA START -->
<!-- <div class="ltn__call-to-action-area section-bg-1 bg-image pt-120 pb-120" data-bs-bg="img/bg/25.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="call-to-action-inner text-color-white--- text-center---">
                    <div class="section-title-area ltn__section-title-2--- text-center---">
                        <h6 class="ltn__secondary-color">Todays Hot Offer</h6>
                        <h1 class="section-title">Free Covid-19 Vaccine<br>Campaign Ticket</h1>
                        <p>Cur tantas regiones barbarorum obiit, tot maria transmist <br>
                            summo bono fruitur id est voluptate barbarorum </p>
                    </div>
                    <div class="ltn__countdown ltn__countdown-3 bg-white--" data-countdown="2021/12/28"></div>
                    <div class="btn-wrapper animated">
                        <a href="contact.html" class="theme-btn-1 btn btn-effect-1 text-uppercase">Book Now</a>
                        <a href="shop.html" class="ltn__secondary-color text-decoration-underline">Deal of The Day</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="~/Content/img/banner/15.png" alt="#"> -->
<!-- </div>
        </div>
    </div>
</div> -->
<!-- COUNTDOWN AREA END -->
<!-- FEATURE AREA START ( Feature - 6) -->
<div class="ltn__feature-area pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h1 class="section-title">Ưu Đãi và Cam Kết</h1>
                </div>
            </div>
        </div>
        <div class="row ltn__custom-gutter">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-apartment"></i></span> -->
                        <img src="~/Content/img/icons/icon-img/24.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a href="#">Miễn phí vận chuyển</a></h4>
                        <p>Các đơn hàng từ 300.000Đ sẽ được PharmaVillage miễn phí giao tới quý khách hàng.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center active">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-park"></i></span> -->
                        <img src="~/Content/img/icons/icon-img/25.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a href="#">100% hoàn tiền</a></h4>
                        <p>Miễn phí trả hàng cho những đơn hàng không như ý</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-maps-and-location"></i></span> -->
                        <img src="~/Content/img/icons/icon-img/26.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a href="#">Sản phẩm chất lượng</a></h4>
                        <p>Các sản phẩm dược được nhập khẩu hải quan chính ngạch, đầy đủ giấy tờ pháp lý.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-6 text-center">
                    <div class="ltn__feature-icon">
                        <!-- <span><i class="flaticon-excavator"></i></span> -->
                        <img src="~/Content/img/icons/icon-img/27.png" alt="#">
                    </div>
                    <div class="ltn__feature-info">
                        <h4><a href="#">Hỗ trợ 24/7</a></h4>
                        <p>Đội ngũ dược sĩ dày dặn kinh nghiệm, đẩy đủ kiến thức chuyên môn luôn sẵn sàng hỗ trợ cho quý khách hàng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->
<!-- PROGRESS BAR AREA START -->
<div class="ltn__progress-bar-area section-bg-1 pt-120 pb-10 mb-120 d-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__progress-bar-wrap">
                    <div class="ltn__progress-bar-inner">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6">
                                <div class="ltn__progress-bar-item-2 text-center">
                                    <div class="progress" data-value='78'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-primary"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div class="progress-count">78<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <div class="ltn__progress-info">
                                        <h3>CÁC DỰ ÁN ĐÃ HOÀN THÀNH</h3>
                                        <p>Construction Simulator</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="ltn__progress-bar-item-2 text-center">
                                    <div class="progress" data-value='62'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-danger"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-danger"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div class="progress-count">62<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <div class="ltn__progress-info">
                                        <h3>Country Cover</h3>
                                        <p>Construction Simulator</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="ltn__progress-bar-item-2 text-center">
                                    <div class="progress" data-value='50'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-success"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-success"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div class="progress-count">50<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <div class="ltn__progress-info">
                                        <h3>Completed Co.</h3>
                                        <p>Construction Simulator</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-6">
                                <div class="ltn__progress-bar-item-2 text-center">
                                    <div class="progress" data-value='90'>
                                        <span class="progress-left">
                                            <span class="progress-bar border-warning"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar border-warning"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div class="progress-count">90<sup class="small">%</sup></div>
                                        </div>
                                    </div>
                                    <div class="ltn__progress-info">
                                        <h3>Happy Clients</h3>
                                        <p>Construction Simulator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PROGRESS BAR AREA END -->
<!-- COUNTER UP AREA START -->
<div class="ltn__counterup-area section-bg-1 bg-image bg-overlay-theme-black-80--- pt-115 pb-70" data-bs-bg="img/bg/30.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-center">
                    <div class="counter-icon">
                        <!-- <img src="~/Content/img/icons/icon-img/2.png" alt="#">  -->
                        <i class="flaticon-add-user-1"></i>
                    </div>
                    <h1><span class="counter">733</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Khách hàng tin tưởng</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-center">
                    <div class="counter-icon">
                        <!-- <img src="~/Content/img/icons/icon-img/3.png" alt="#">  -->
                        <i class="flaticon-dining-table-with-chairs"></i>
                    </div>
                    <h1><span class="counter">33</span><span class="counterUp-letter">K</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Lượt Thăm Quan</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-center">
                    <div class="counter-icon">
                        <!-- <img src="~/Content/img/icons/icon-img/3.png" alt="#">  -->
                        <i class="flaticon-package"></i>
                    </div>
                    <h1><span class="counter">100</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Đơn hàng</h6>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 align-self-center">
                <div class="ltn__counterup-item text-center">
                    <div class="counter-icon">
                        <!-- <img src="~/Content/img/icons/icon-img/3.png" alt="#">  -->
                        <i class="flaticon-maps-and-location"></i>
                    </div>
                    <h1><span class="counter">21</span><span class="counterUp-icon">+</span> </h1>
                    <h6>Tỉnh có chi nhánh</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COUNTER UP AREA END -->
<!-- TEAM AREA START (Team - 3) -->
<div class="ltn__team-area pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2--- text-center">
                    <h1 class="section-title"> ĐỘI NGŨ DƯỢC SĨ KINH NGHIỆM</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="ltn__team-item ltn__team-item-3---">
                    <div class="team-img">
                        <img src="~/Content/img/team/3.jpg" alt="Image">
                    </div>
                    <div class="team-info">
                        <h4><a href="team-details.html">Trần Ngọc Minh</a></h4>
                        <h6 class="ltn__secondary-color">Nhà khoa học</h6>
                        <div class="ltn__social-media">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="ltn__team-item ltn__team-item-3---">
                    <div class="team-img">
                        <img src="~/Content/img/team/2.jpg" alt="Image">
                    </div>
                    <div class="team-info">
                        <h4><a href="team-details.html">Nguyễn Duy Đức</a></h4>
                        <h6 class="ltn__secondary-color">Nhà nha khoa</h6>
                        <div class="ltn__social-media">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="ltn__team-item ltn__team-item-3---">
                    <div class="team-img">
                        <img src="~/Content/img/team/5.jpg" alt="Image">
                    </div>
                    <div class="team-info">
                        <h4><a href="team-details.html">Đăng Ngọc Quân</a></h4>
                        <h6 class="ltn__secondary-color">Bác sĩ tim mạch</h6>
                        <div class="ltn__social-media">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TEAM AREA END -->
<!-- VIDEO AREA START -->
<div class="ltn__video-popup-area ltn__video-popup-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__video-bg-img ltn__video-popup-height-600 bg-overlay-black-10-- bg-image" data-bs-bg="img/bg/15.jpg">
                    <a class="ltn__video-icon-2 ltn__video-icon-2-border border-radius-no" href="https://www.youtube.com/watch?v=Tqg-VVpqvvY" data-rel="lightcase:myCollection">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- VIDEO AREA END -->
<!-- TESTIMONIAL AREA START (testimonial-4) -->
<div class="ltn__testimonial-area section-bg-1 pt-290 pb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title">Phản hồi từ khách hàng<span>.</span></h1>
                </div>
            </div>
        </div>
        <div class="row ltn__testimonial-slider-3-active slick-arrow-1 slick-arrow-1-inner">
            <div class="col-lg-12">
                <div class="ltn__testimonial-item ltn__testimonial-item-4">
                    <div class="ltn__testimoni-img">
                        <img src="~/Content/img/testimonial/6.jpg" alt="#">
                    </div>
                    <div class="ltn__testimoni-info">
                        <p>Sản phẩm miếng dán Salonpas</p>
                        <p>
                            "Miếng dán Salonpas rất mỏng,độ bám dính cao hương thơm dễ chịu,cảm giác nóng vừa."
                        </p>
                        <h4>Lê Ngọc Thu</h4>
                        <h6>Võ Sư</h6>
                    </div>
                    <div class="ltn__testimoni-bg-icon">
                        <i class="far fa-comments"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__testimonial-item ltn__testimonial-item-4">
                    <div class="ltn__testimoni-img">
                        <img src="~/Content/img/testimonial/7.jpg" alt="#">
                    </div>
                    <div class="ltn__testimoni-info">
                        <p>Thuốc bôi Nhất Dương</p>
                        <p>
                            "Sau 30 phút sử dụng thuốc bôi trị bệnh khách, tôi cảm thấy rất thoải mái. Sản phẩm thực sự hiệu quả."
                        </p>
                        <h4>Võ Hồ Nhật Nam</h4>
                        <h6>Lập trình viên</h6>
                    </div>
                    <div class="ltn__testimoni-bg-icon">
                        <i class="far fa-comments"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__testimonial-item ltn__testimonial-item-4">
                    <div class="ltn__testimoni-img">
                        <img src="~/Content/img/testimonial/1.jpg" alt="#">
                    </div>
                    <div class="ltn__testimoni-info">
                        <p>Thực phẩm bổ sung Protein Extra</p>
                        <p>
                            "Thực phẩm bổ sung này rất tốt, giúp tôi cảm nhận được sự cải thiện rõ rệt trong sức khỏe."
                        </p>
                        <h4>Tô Văn Sang</h4>
                        <h6>Chủ tiệm cầm đồ</h6>
                    </div>
                    <div class="ltn__testimoni-bg-icon">
                        <i class="far fa-comments"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__testimonial-item ltn__testimonial-item-4">
                    <div class="ltn__testimoni-img">
                        <img src="~/Content/img/testimonial/2.jpg" alt="#">
                    </div>
                    <div class="ltn__testimoni-info">
                        <p>Panadol Extra</p>
                        <p>
                            "Panadol Extra có hiệu quả tức thì trong việc giảm đau, tuy nhiên cần sử dụng đúng liều lượng."
                        </p>
                        <h4>Phan Nguyễn Ngọc Khôi</h4>
                        <h6>Kiến trúc sư</h6>
                    </div>
                    <div class="ltn__testimoni-bg-icon">
                        <i class="far fa-comments"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="ltn__testimonial-item ltn__testimonial-item-4">
                    <div class="ltn__testimoni-img">
                        <img src="~/Content/img/testimonial/5.jpg" alt="#">
                    </div>
                    <div class="ltn__testimoni-info">
                        <p>Thuốc giảm cân NoPig</p>
                        <p>
                            "Thuốc giảm cân NoPig hiệu quả, nhưng tôi cần kiểm soát chế độ ăn để đạt kết quả tốt hơn."
                        </p>
                        <h4>Ngọc</h4>
                        <h6>Lập trình viên</h6>
                    </div>
                    <div class="ltn__testimoni-bg-icon">
                        <i class="far fa-comments"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TESTIMONIAL AREA END -->
<!-- FAQ AREA START (faq-2) (ID > accordion_2) -->
<div class="ltn__faq-area pt-115 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h1 class="section-title white-color---">Một số câu hỏi</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="ltn__faq-inner ltn__faq-inner-2">
                    <div id="accordion_2">
                        <!-- card -->
                        <div class="card">
                            <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-1" aria-expanded="false">
                                Làm thế nào để mua một sản phẩm?
                            </h6>
                            <div id="faq-item-2-1" class="collapse" data-bs-parent="#accordion_2">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac.</p>
                                </div>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="card">
                            <h6 class="ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-2" aria-expanded="true">
                                Tôi có thể làm thế nào để hoàn tiền từ trang web của bạn?
                            </h6>
                            <div id="faq-item-2-2" class="collapse show" data-bs-parent="#accordion_2">
                                <div class="card-body">
                                    <div class="ltn__video-img alignleft">
                                        <img src="~/Content/img/bg/17.jpg" alt="video popup bg image">
                                        <a class="ltn__video-icon-2 ltn__video-icon-2-small ltn__video-icon-2-border----" href="https://www.youtube.com/embed/Cr4LFOgRGeo?autoplay=1&showinfo=0" data-rel="lightcase:myCollection">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque </p>
                                </div>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="card">
                            <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-3" aria-expanded="false">
                                Tôi là người dùng mới. Tôi nên bắt đầu như thế nào?
                            </h6>
                            <div id="faq-item-2-3" class="collapse" data-bs-parent="#accordion_2">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac.</p>
                                </div>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="card">
                            <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-4" aria-expanded="false">
                                Đổi trả và hoàn tiền
                            </h6>
                            <div id="faq-item-2-4" class="collapse" data-bs-parent="#accordion_2">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac.</p>
                                </div>
                            </div>
                        </div>
                        <!-- card -->
                        <div class="card">
                            <h6 class="collapsed ltn__card-title" data-bs-toggle="collapse" data-bs-target="#faq-item-2-5" aria-expanded="false">
                                Thông tin của tôi có được bảo mật không?
                            </h6>
                            <div id="faq-item-2-5" class="collapse" data-bs-parent="#accordion_2">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque eleifend donec pretium vulputate sapien nec sagittis. Proin libero nunc consequat interdum. Condimentum lacinia quis vel eros donec ac.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <aside class="about-us-img-wrap about-img-right">
                    <img src="~/Content/img/others/100.jpg" alt="Banner Image">
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- FAQ AREA START -->
<!-- FEATURE AREA START ( Feature - 6) -->
<div class="ltn__feature-area section-bg-1 pt-115 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area ltn__section-title-2 text-center">
                    <h6 class="section-subtitle ltn__secondary-color">//  Tính năng nổi bật  //</h6>
                    <h1 class="section-title">Tại sao nên chọn chúng tôi?<span>.</span></h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-7">
                    <div class="ltn__feature-icon-title">
                        <div class="ltn__feature-icon">
                            <!-- <span><img src="~/Content/img/icons/icon-img/21.png" alt="#"></span> -->
                            <span><i class="fas fa-hand-holding-medical"></i></span>
                        </div>
                        <h3><a href="service-details.html">Đa dạng thương hiệu uy tín</a></h3>
                    </div>
                    <div class="ltn__feature-info">
                        <p>
                            Hợp tác với các thương hiệu nổi tiếng toàn cầu như Pfizer, Roche, và Novartis, đảm bảo chất lượng và độ tin cậy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-7">
                    <div class="ltn__feature-icon-title">
                        <div class="ltn__feature-icon">
                            <!-- <span><img src="~/Content/img/icons/icon-img/22.png" alt="#"></span> -->
                            <span><i class="fas fa-microscope"></i></span>
                        </div>
                        <h3><a href="service-details.html">Sản phẩm chất lượng cao</a></h3>
                    </div>
                    <div class="ltn__feature-info">
                        <p>
                            Sản phẩm được kiểm định chặt chẽ, đảm bảo an toàn và hiệu quả với các tiêu chuẩn quốc tế.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="ltn__feature-item ltn__feature-item-7">
                    <div class="ltn__feature-icon-title">
                        <div class="ltn__feature-icon">
                            <!-- <span><img src="~/Content/img/icons/icon-img/23.png" alt="#"></span> -->
                            <span><i class="fas fa-stethoscope"></i></span>
                        </div>
                        <h3><a href="service-details.html">Không gây tác dụng phụ</a></h3>
                    </div>
                    <div class="ltn__feature-info">
                        <p>
                            Sử dụng công nghệ tiên tiến, sản phẩm đảm bảo không gây tác dụng phụ, mang lại sự an tâm cho khách hàng.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FEATURE AREA END -->

@Html.Action("NewestBlog", "Blog")
