@{
    ViewBag.Title = "Chính sách quyền riêng tư";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chính sách quyền riêng tư</h2>

<div class="py-4">
    <div class="pmc-content-html [&_a:not(.ignore-css_a)]:text-hyperLink container">
        <h2 style="text-align: center;"><strong>CHÍNH SÁCH QUYỀN RIÊNG TƯ</strong></h2>
        <p><strong>1. Thông Tin Chung và Sự Chấp Thuận</strong></p>
        <p>Chính sách quyền riêng tư này (“Chính Sách”) mô tả những thông tin cá nhân (là bất kỳ thông tin nào liên quan đến việc xác định danh tính hoặc có thể xác định danh tính một cá nhân cụ thể) (“Thông Tin Cá Nhân”) mà Công ty Cổ phần Dược phẩm Pharmacity (sau đây được gọi là “Pharmacity” hoặc “chúng tôi”) thu thập từ khách hàng (“bạn”) thông qua trang web <a href="https://www.pharmacity.vn/" target="_blank" rel="noopener">www.pharmacity.vn</a> (“Trang Web Pharmacity”) hoặc ứng dụng Pharmacity (“Ứng Dụng Pharmacity”) hoặc thông qua các hình thức khác. Chính Sách này mô tả lý do và cách thức mà chúng tôi sử dụng thông tin cá nhân đó và các biện pháp mà chúng tôi áp dụng để bảo vệ thông tin cá nhân của bạn. Ngoài ra, bạn sẽ được biết về các quyền của bạn và phương thức liên lạc với chúng tôi.</p>
        <p>Bằng việc cung cấp cho chúng tôi Thông Tin Cá Nhân của bạn, sử dụng Trang Web Pharmacity hoặc Ứng Dụng Pharmacity, bạn đồng ý rằng Thông Tin Cá Nhân của bạn sẽ được thu thập, sử dụng và xử lý như nêu trong Chính Sách này. Nếu bạn không đồng ý với Chính Sách này, vui lòng không sử dụng Trang Web hoặc Ứng Dụng Pharmacity.</p>
        <p>Chính Sách này được điều chỉnh bởi và giải thích theo pháp luật Việt Nam. Pharmacity có thể điều chỉnh Chính Sách này vào từng thời điểm để cập nhật các điều khoản phù hợp với sự thay đổi của pháp luật và/hoặc trong hoạt động của chúng tôi. Chúng tôi sẽ thông báo kịp thời về những thay đổi đối với Chính Sách này để đảm bảo bạn biết và có thể quản lý Thông Tin Cá Nhân của mình.</p>
        <p><strong>2. Phạm vi thu thập thông tin cá nhân</strong></p>
        <p>Chúng tôi thu thập thông tin, bao gồm Thông Tin Cá Nhân, nhằm cung cấp dịch vụ tốt hơn cho khách hàng. Thông Tin Cá Nhân mà chúng tôi thu thập từ bạn có thể bao gồm:</p>
        <p><strong>a. Thông Tin Cá Nhân bạn cung cấp cho chúng tôi:</strong></p>
        <ul>
            <li>Tên.</li>
            <li>Giới tính.</li>
            <li>Số điện thoại.</li>
            <li>Ngày sinh.</li>
            <li>Địa chỉ thanh toán và địa chỉ nhận hàng.</li>
            <li>Đơn hàng, hóa đơn.</li>
            <li>Địa chỉ email.</li>
            <li>Thông tin thanh toán.</li>
        </ul>
        <p><strong>b. Thông Tin Cá Nhân chúng tôi thu thập từ bạn:</strong></p>
        <ul>
            <li>Thông tin mạng xã hội khi bạn liên hệ với chúng tôi qua các kênh liên lạc để cung cấp nhận xét hoặc đặt câu hỏi.</li>
            <li>Hình ảnh có thể được ghi lại bởi camera an ninh tại các cửa hàng của chúng tôi, với thông báo rõ ràng.</li>
            <li>Các thông tin kỹ thuật như địa chỉ IP, sản phẩm bạn đã xem, và các thông tin về tương tác khi bạn ghé thăm Trang Web Pharmacity.</li>
        </ul>
        <p>Nếu bạn cung cấp cho chúng tôi Thông Tin Cá Nhân liên quan đến người khác, bạn tuyên bố rằng bạn có thẩm quyền để làm việc đó và thông tin sẽ được xử lý theo Chính Sách này.</p>
        <p>Bạn hiểu rằng một số thông tin trên có thể được coi là nhạy cảm theo pháp luật Việt Nam. Bằng việc cung cấp thông tin, bạn đồng ý cho chúng tôi xử lý dữ liệu đó theo Chính Sách này. Nếu pháp luật yêu cầu, bạn sẽ cần cung cấp sự chấp thuận riêng bằng văn bản.</p>
        <p><strong>3. Mục đích thu thập Thông Tin Cá Nhân</strong></p>
        <p>Chúng tôi thu thập Thông Tin Cá Nhân chỉ khi cần thiết, phục vụ các mục đích như:</p>
        <ul>
            <li>Xử lý đơn hàng; duy trì tài khoản và phản hồi yêu cầu của bạn.</li>
            <li>Ghi nhận đánh giá sản phẩm.</li>
            <li>Thông báo các thay đổi liên quan đến sản phẩm và dịch vụ.</li>
            <li>Ngăn chặn hoạt động phá hoại hoặc gian lận tài khoản khách hàng.</li>
            <li>Thực hiện quyền và nghĩa vụ theo quy định của pháp luật hoặc theo yêu cầu của cơ quan có thẩm quyền.</li>
        </ul>
        <p><strong>4. Cookies và công nghệ tương tự</strong></p>
        <p>Chúng tôi sử dụng cookies và công nghệ tương tự để thu thập và lưu trữ thông tin khi bạn truy cập hoặc tương tác với Trang Web hoặc Ứng Dụng Pharmacity, như cookies để nhận diện trình duyệt hoặc thiết bị của bạn:</p>
        <ul>
            <li><strong>Cookies:</strong> Tệp nhỏ lưu trên ổ cứng của bạn. Bạn có thể điều chỉnh cài đặt trình duyệt để từ chối cookies.</li>
            <li><strong>Web Beacons:</strong> Dữ liệu giúp chúng tôi đếm số lượt truy cập hoặc tính toán các thông số khác.</li>
            <li><strong>Clickstream Data:</strong> Dữ liệu như trang bạn truy cập và thời gian ở trên trang.</li>
            <li><strong>API hệ thống:</strong> Giao diện ứng dụng đọc và ghi dữ liệu trên thiết bị.</li>
        </ul>
        <p><strong>5. Thời gian lưu trữ</strong></p>
        <p>Chúng tôi lưu giữ Thông Tin Cá Nhân cho đến khi không còn cần thiết, phù hợp với pháp luật Việt Nam. Bạn có thể đăng nhập để xoá hoặc gửi yêu cầu xoá thông tin qua thông tin liên hệ ở Điều 9.</p>
        <p><strong>6. Người được tiếp cận thông tin cá nhân</strong></p>
        <p>Chúng tôi không cung cấp Thông Tin Cá Nhân cho bên thứ ba, trừ khi cần thiết như:</p>
        <ul>
            <li>Đối tác thực hiện đơn hàng, được yêu cầu bảo mật thông tin.</li>
            <li>Nhà cung cấp dịch vụ thực hiện hoạt động liên quan đến Trang Web hoặc Ứng Dụng Pharmacity.</li>
            <li>Chuyển giao kinh doanh trong trường hợp sáp nhập hoặc hợp nhất.</li>
        </ul>
        <p>Khi cung cấp Thông Tin Cá Nhân, chúng tôi yêu cầu bên nhận bảo mật và chỉ sử dụng cho các mục đích đã thỏa thuận.</p>
        <p><strong>7. Chính sách bảo mật thông tin thanh toán</strong></p>
        <p>Thông Tin Cá Nhân được lưu trữ tại hệ thống máy chủ tại Việt Nam. Chúng tôi thực hiện nhiều biện pháp an toàn như:</p>
        <ul>
            <li>Bảo đảm an toàn trong môi trường vận hành, chỉ cho phép truy cập khi cần thiết.</li>
            <li>Áp dụng biện pháp kỹ thuật, hành chính và vật lý để bảo vệ dữ liệu.</li>
        </ul>
        <p>...</p>
    </div>
</div>
