
@{
    ViewBag.Title = "Chính sách quyền riêng tư - PharmaVillage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>QUY CHẾ HOẠT ĐỘNG</h1>

<div class="py-4">
    <div class="pmc-content-html [&amp;_a:not(.ignore-css_a)]:text-hyperLink container">
        <h1 style="text-align: center;"><b>QUY CHẾ HOẠT ĐỘNG WEBSITE CUNG CẤP DỊCH VỤ PHARMAVILLAGE</b></h1>
        <p><b>I. Nguyên tắc chung</b></p>
        <p>Website thương mại điện tử www.PharmaVillage.com do Công Ty Cổ Phần Dược Phẩm PharmaVillage (“Công ty”) thực hiện hoạt động và vận hành. Đối tượng phục vụ là tất cả khách hàng trên 63 tỉnh thành Việt Nam có nhu cầu mua hàng nhưng không có thời gian đến shop hoặc đặt trước để khi đến shop là đảm bảo có hàng.</p>
        <p>Sản phẩm được kinh doanh tại www.PharmaVillage.com phải đáp ứng đầy đủ các quy định của pháp luật, không bán hàng nhái, hàng không rõ nguồn gốc, hàng xách tay.</p>
        <p>Hoạt động mua bán tại www.PharmaVillage.com phải được thực hiện công khai, minh bạch, đảm bảo quyền lợi của người tiêu dùng.</p>
        <p><b>II. Quy định chung</b></p>
        <p><b>Tên Miền website Thương mại Điện tử:</b></p>
        <p>Website thương mại điện tử www.PharmaVillage.com do Công Ty Cổ Phần Dược Phẩm PharmaVillage phát triển với tên miền giao dịch là:&nbsp;<b>www.PharmaVillage.com</b>&nbsp;sau đây gọi tắt là: “<b>PharmaVillage.com</b>”.</p>
        <p><b>Định nghĩa chung:</b></p>
        <p><b>Người bán</b>&nbsp;là Công Ty Cổ Phần Dược Phẩm PharmaVillage.</p>
        <p><b>Người mua</b>&nbsp;là công dân Việt Nam trên khắp 63 tỉnh thành. Người mua có quyền đăng ký tài khoản hoặc không cần đăng ký để thực hiện giao dịch.</p>
        <p><b>Thành viên</b>&nbsp;là bao gồm cả người mua và người tham khảo thông tin, thảo luận tại website.</p>
        <p>Nội dung bản Quy chế này tuân thủ theo các quy định hiện hành của Việt Nam. Thành viên khi tham gia website TMĐT PharmaVillage.com phải tự tìm hiểu trách nhiệm pháp lý của mình đối với luật pháp hiện hành của Việt Nam và cam kết thực hiện đúng những nội dung trong Quy chế này.</p>
        <p><b>III. Quy trình giao dịch</b></p>
        <p><b>Dành cho người mua hàng tại website TMĐT PharmaVillage.com</b></p>
        <p><b>Bước 1:</b>&nbsp;Tìm kiếm và chọn sản phẩm cần mua</p>
        <p><b>Bước 2:</b>&nbsp;Xem thông tin chi tiết sản phẩm đó</p>
        <p>Với các sản phẩm được phép giao dịch Online: Quý khách đồng ý muốn đặt hàng, quý khách chọn số lượng cần mua sau đó ấn vào nút “Thêm vào giỏ hàng” hoặc “mua ngay” và tới giỏ hàng điền thông tin mua hàng. Với các sản phẩm chỉ được phép tham khảo: Quý khách chọn “Tư vấn mua hàng” để được hỗ trợ.</p>
        <p><b>Bước 3:</b>&nbsp;Quý khách điền đầy đủ thông tin mua hàng theo mẫu:</p>
        <ul>
            <li>Họ tên; Số điện thoại; Email</li>
            <li>Chọn phương thức nhận hàng: “Nhận tại nhà thuốc” hoặc “Giao hàng tận nơi”</li>
            <li>Chọn phương thức thanh toán: Trả tiền mặt khi nhận hàng hoặc Thẻ ATM nội địa/Internet Banking hoặc Thẻ thanh toán quốc tế Visa, Master, JCB, Momo, Viettelpay</li>
        </ul>
        <p><b>Bước 4:</b>&nbsp;Sau khi đã nhập đầy đủ thông tin, quý khách click “Đặt hàng” để hoàn tất đặt hàng</p>
        <p><b>Bước 5:</b>&nbsp;Đơn hàng sẽ được xác nhận đã được đặt, đội ngũ sẽ gửi SMS đến số điện thoại đặt hàng để thông báo tình trạng đơn hàng, hoặc Khách hàng có thể theo dõi đơn hàng trong “lịch sử đơn hàng” trên&nbsp;<b>PharmaVillage.com.&nbsp;</b>Trường hợp cần trao đổi thông tin thêm về đơn hàng, đội ngũ PharmaVillage sẽ gọi đến số điện thoại đặt đơn hàng của Khách hàng qua số 02871002001.</p>
        <p><b>Bước 6:</b>&nbsp;PharmaVillage.com giao hàng tận nhà cho khách hàng hoặc khách hàng đến trực tiếp các cửa hàng trên toàn quốc để nhận hàng</p>
        <p><b>Dành cho bên bán hàng là PharmaVillage.com</b></p>
        <ul>
            <li>Niêm yết nội dung gồm: hình ảnh sản phẩm chụp thực tế hoặc hình ảnh do hãng sản xuất cung cấp, bài viết giới thiệu, thông tin chi tiết sản phẩm.</li>
            <li>Nhập liệu bằng công cụ quản lý riêng dành cho nhân viên PharmaVillage.com.</li>
            <li>Định dạng hình ảnh sử dụng trên website: jpg, png.</li>
        </ul>
        <p><b>Quy trình giao nhận vận chuyển</b></p>
        <ul>
            <li>PharmaVillage.com thực hiện giao hàng trên toàn quốc. Khi nhận đơn hàng từ người mua và sau khi đã xác nhận thông tin mua hàng qua điện thoại hoặc tin nhắn, PharmaVillage.com sẽ tiến hành giao hàng theo yêu cầu của quý khách hàng.</li>
            <li>Giữ hàng tại các cửa hàng của Nhà Thuốc PharmaVillage trên toàn quốc và người mua sẽ đến trực tiếp cửa hàng kiểm tra và nhận hàng.</li>
            <li>Giao hàng tận nơi trên toàn bộ 63 tỉnh thành áp dụng với các hàng hóa được mua bán online.</li>
            <li>Miễn phí giao hàng với hóa đơn từ 300.000 đồng trở lên.</li>
        </ul>
        <p><b>Quy trình đổi trả sản phẩm</b></p>
        <p>1.1. Các trường hợp hỗ trợ đổi trả</p>
        <p>PharmaVillage hỗ trợ đổi trả sản phẩm được mua sắm trực tuyến qua: Trang web PharmaVillage.com, ứng dụng di động PharmaVillage hoặc tổng đài đặt hàng miễn cước 1800 6821 như sau:</p>
        <ul>
            <li>Sản phẩm bị lỗi từ nhà sản xuất.</li>
            <li>Sản phẩm bị hư hỏng hoặc bể vỡ trong quá trình vận chuyển.</li>
            <li>
                Sản phẩm giao đến không đúng hoặc không đủ với đơn hàng đã đặt và thỏa 2 điều kiện:
                <ul>
                    <li>Sản phẩm hoàn trả chưa qua sử dụng và còn nguyên vẹn bao bì ban đầu như tem, nhãn dán, hộp, mã vạch, thẻ bảo hành (nếu có), phiếu giảm giá hoặc quà tặng kèm (nếu có).</li>
                    <li>Sản phẩm được hoàn trả cùng với biên nhận, hóa đơn hoặc biên lai thuế VAT (nếu có).</li>
                </ul>
            </li>
        </ul>
        <p>Với các trường hợp trên, PharmaVillage hỗ trợ khách hàng đổi sản phẩm đúng và nguyên vẹn, bổ sung sản phẩm còn thiếu hoặc trả sản phẩm và được hoàn tiền theo mục 3. Chính sách hoàn tiền.</p>
        <p>1.2. Các trường hợp không hỗ trợ đổi trả</p>
        <p>Chính sách đổi trả không áp dụng cho trường hợp:</p>
        <ul>
            <li>Khách hàng đến trực tiếp nhà thuốc PharmaVillage để mua hàng hoặc để nhận đơn đặt hàng trực tuyến được “Chọn nhận tại cửa hàng”.</li>
            <li>Các yêu cầu trả hàng hoặc hoàn tiền thuộc về cảm quan/không ưng ý/thay đổi quyết định mua hàng.</li>
            <li>Các đơn hàng có sử dụng Phiếu mua hàng hoặc Phiếu quà tặng (gift voucher)</li>
            <li>Các sản phẩm chỉ khác nhau về bao bì, mẫu mã bên ngoài theo lô hàng của nhà sản xuất mà không có sự thay đổi về thành phần, chất lượng.</li>
            <li>Các sản phẩm là mặt hàng trữ lạnh, hàng tiêm chích.</li>
            <li>Các sản phẩm nằm trong các chương trình không được phép đổi trả.</li>
        </ul>
        <p><b>Đối với giao dịch của PharmaVillage.com</b></p>
        <p>PharmaVillage.com tiếp nhận Khiếu nại Khách hàng qua các kênh sau:</p>
        <ul>
            <li>Tại fanpage facebook, website liên hệ, bình luận khách hàng</li>
            <li>Qua tổng đài giải quyết khiếu nại:18006821</li>
            <li>Email: cskh@PharmaVillage.com</li>
            <li>Trực tiếp tại các cửa hàng thuộc Hệ thống Nhà thuốc PharmaVillage</li>
            <li>Trụ sở chính của công ty tại 248A Nơ Trang Long, P.12, Q.Bình Thạnh, TP.Hồ Chí Minh</li>
        </ul>
        <p><b>IV. Quy trình thanh toán</b></p>
        <p><b>Dành cho người mua hàng tại website TMĐT PharmaVillage.com</b></p>
        <p>Người mua và bên bán có thể tham khảo các phương thức thanh toán sau đây và lựa chọn áp dụng phương thức phù hợp:</p>
        <p><b>Cách 1: Thanh toán trực tiếp (người mua nhận hàng tại địa chỉ bên bán)</b></p>
        <ul>
            <li><b>Bước 1:</b>&nbsp;Người mua tìm hiểu thông tin về sản phẩm, dịch vụ được đăng tin</li>
            <li><b>Bước 2:</b>&nbsp;Người mua đến địa chỉ bán hàng là các cửa hàng của Nhà Thuốc PharmaVillage</li>
            <li><b>Bước 3:</b>&nbsp;Người mua thanh toán bằng tiền mặt, thẻ ATM nội địa hoặc thẻ tín dụng và nhận hàng</li>
        </ul>
        <p><b>Cách 2: Thanh toán sau (COD – giao hàng và thu tiền tận nơi)</b></p>
        <ul>
            <li><b>Bước 1:&nbsp;</b>Người mua tìm hiểu thông tin về sản phẩm, dịch vụ được đăng tin</li>
            <li><b>Bước 2:&nbsp;</b>Người mua xác thực đơn hàng (điện thoại, tin nhắn, email)</li>
            <li><b>Bước 3:&nbsp;</b>Người bán xác nhận thông tin Người mua</li>
            <li><b>Bước 4:&nbsp;</b>Người bán chuyển hàng</li>
            <li><b>Bước 5:&nbsp;</b>Người mua nhận hàng và thanh toán bằng tiền mặt, thẻ ATM nội địa hoặc thẻ tín dụng</li>
        </ul>
        <p><b>Cách 3: Thanh toán online</b></p>
        <ul>
            <li><b>Bước 1:&nbsp;</b>Người mua tìm hiểu thông tin về sản phẩm, dịch vụ được đăng tin</li>
            <li><b>Bước 2:&nbsp;</b>Người mua xác thực đơn hàng (điện thoại, tin nhắn, email)</li>
            <li><b>Bước 3:&nbsp;</b>Người mua thanh toán bằng thẻ ATM nội địa hoặc thẻ tín dụng</li>
            <li><b>Bước 4:&nbsp;</b>Người bán chuyển hàng</li>
        </ul>
        <p><b>V. Đảm bảo an toàn giao dịch</b></p>
        <p>Ban quản lý đã sử dụng các dịch vụ để bảo vệ thông tin về nội dung mà người bán đăng sản phẩm trên PharmaVillage.com. Để đảm bảo các giao dịch được tiến hành thành công, hạn chế tối đa rủi ro có thể phát sinh.</p>
        <p>Người mua nên cung cấp thông tin đầy đủ (tên, địa chỉ, số điện thoại, email) khi tham gia mua hàng của PharmaVillage.com để PharmaVillage.com có thể liên hệ nhanh lại với người mua trong trường hợp xảy ra lỗi.</p>
        <p>Trong trường hợp giao dịch nhận hàng tại nhà của người mua, thì người mua chỉ nên thanh toán sau khi đã kiểm tra hàng hoá chi tiết và hài lòng với sản phẩm.</p>
        <p>Khi thanh toán trực tuyến bằng thẻ ATM nội địa, Visa, Master người mua nên tự mình thực hiện và không được để lộ thông tin thẻ. PharmaVillage.com không lưu trữ thông tin thẻ của người mua sau khi thanh toán, mà thông qua hệ thống của ngân hàng liên kết nên tuyệt đối bảo mật thông tin thẻ cho khách hàng.</p>
        <p>Trong trường lỗi xảy ra trong quá trình thanh toán trực tuyến, Công ty Cổ phần dược phẩm PharmaVillage sẽ là đơn vị giải quyết cho khách hàng trong vòng 48 giờ làm việc từ khi tiếp nhận thông tin từ người thực hiện giao dịch.</p>
        <p><b>VI. Bảo vệ thông tin cá nhân khách hàng</b></p>
        <p>PharmaVillage.com cam kết sẽ bảo mật những thông tin mang tính riêng tư của bạn. Bạn vui lòng đọc bản “Chính sách bảo mật” dưới đây để hiểu hơn những cam kết mà chúng tôi thực hiện, nhằm tôn trọng và bảo vệ quyền lợi của người truy cập:</p>
        <p><b>1. Mục đích và phạm vi thu thập</b></p>
        <p>Để truy cập và sử dụng một số dịch vụ tại PharmaVillage.com, bạn có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân (Email, Họ tên, Số ĐT liên lạc…). Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. PharmaVillage.com không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin khai báo.</p>
        <p>Chúng tôi cũng có thể thu thập thông tin về số lần viếng thăm, bao gồm số trang bạn xem, số links (liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến site PharmaVillage.com. Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) bạn sử dụng mỗi khi truy cập vào PharmaVillage.com, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.</p>
        <p><b>2. Phạm vi sử dụng thông tin</b></p>
        <p>PharmaVillage.com thu thập và sử dụng thông tin cá nhân bạn với mục đích phù hợp và hoàn toàn tuân thủ nội dung của “Chính sách bảo mật” này. Khi cần thiết, chúng tôi có thể sử dụng những thông tin này để liên hệ trực tiếp với bạn dưới các hình thức như: gởi thư ngỏ, đơn đặt hàng, thư cảm ơn, sms, thông tin về kỹ thuật và bảo mật…</p>
        <p><b>3. Thời gian lưu trữ thông tin</b></p>
        <p>Dữ liệu cá nhân của Thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của PharmaVillage.com.</p>
        <p><b>4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</b></p>
        <p><b>Địa chỉ đăng ký kinh doanh:</b>&nbsp;248A Nơ Trang Long, P.12, Q.Bình Thạnh, TP.Hồ Chí Minh</p>
        <p><b>Văn phòng:</b>&nbsp;248A Nơ Trang Long, P.12, Q.Bình Thạnh, TP.Hồ Chí Minh</p>
        <p><b>Điện thoại văn phòng:</b>&nbsp;(84) 28730 76888</p>
        <p><b>5. Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân</b></p>
        <p>Hiện website chưa triển khai trang quản lý thông tin cá nhân của thành viên, vì thế việc tiếp cận và chỉnh sửa dữ liệu cá nhân dựa vào yêu cầu của khách hàng bằng cách hình thức sau:</p>
        <ul>
            <li>Gọi điện thoại đến tổng đài chăm sóc khách hàng 18006821, bằng nghiệp vụ chuyên môn xác định thông tin cá nhân và nhân viên tổng đài sẽ hỗ trợ chỉnh sửa thay người dùng.</li>
            <li>Gửi góp ý trực tiếp từ website&nbsp;<a href="https://PharmaVillage.com/" target="_blank" rel="noopener">https://PharmaVillage.com</a>, quản trị viên kiểm tra thông tin và liên lạc lại với người dùng để xác nhận thông tin 1 lần nữa và quản trị viên chỉnh sửa thông tin cho người dùng.</li>
        </ul>
        <p><b>6. Cam kết bảo mật thông tin cá nhân khách hàng</b></p>
        <p>Thông tin cá nhân của thành viên trên PharmaVillage.com được PharmaVillage.com cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân của PharmaVillage.com. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.</p>
        <p>Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên.</p>
        <p>Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, PharmaVillage.com sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.</p>
        <p>Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của Thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa tại khu vực dữ liệu trung tâm an toàn cấp 1 của PharmaVillage.com.</p>
        <p>PharmaVillage.com yêu cầu các cá nhân khi đăng ký/mua hàng là thành viên, phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, số chứng minh nhân dân, điện thoại, số tài khoản, số thẻ thanh toán…, và chịu trách nhiệm về tính pháp lý của những thông tin trên. PharmaVillage.com không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của Thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.</p>
        <p><b>VII. Quản lý thông tin xấu</b></p>
        <p><b>Quy định thành viên</b></p>
        <p>Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu của mình. Thành viên có trách nhiệm thông báo kịp thời cho website TMĐT PharmaVillage.com về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.</p>
        <p>Thành viên không được thay đổi, chỉnh sửa, gán ghép, copy, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do website TMĐT PharmaVillage.com cung cấp cho một bên thứ ba nếu không được sự đồng ý của website TMĐT PharmaVillage.com trong bản Quy chế này.</p>
        <p>Thành viên không được hành động gây mất uy tín của website TMĐT PharmaVillage.com dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của website TMĐT PharmaVillage.com.</p>
        <p><b>VIII. Trách nhiệm trong trường hợp phát sinh lỗi kỹ thuật</b></p>
        <p>Website TMĐT PharmaVillage.com cam kết nỗ lực đảm bảo sự an toàn và ổn định của toàn bộ hệ thống kỹ thuật. Tuy nhiên, trong trường hợp xảy ra sự cố do lỗi của PharmaVillage.com, PharmaVillage.com sẽ ngay lập tức áp dụng các biện pháp để đảm bảo quyền lợi cho người mua hàng.</p>
        <p>Khi thực hiện các giao dịch trên website, bắt buộc các thành viên phải thực hiện đúng theo các quy trình hướng dẫn.</p>
        <p>Ban quản lý website TMĐT PharmaVillage.com cam kết cung cấp chất lượng dịch vụ tốt nhất cho các thành viên tham gia giao dịch. Trường hợp phát sinh lỗi kỹ thuật, lỗi phần mềm hoặc các lỗi khách quan khác dẫn đến thành viên không thể tham gia giao dịch được thì các thành viên thông báo cho Ban quản lý website TMĐT qua địa chỉ email cskh@PharmaVillage.com hoặc qua điện thoại 18006821 (từ 7:00 – 22:00 hằng ngày) chúng tôi sẽ khắc phục lỗi trong thời gian sớm nhất, tạo điều kiện cho các thành viên tham gia website TMĐT PharmaVillage.com.</p>
        <p>Tuy nhiên, Ban quản lý website TMĐT PharmaVillage.com sẽ không chịu trách nhiệm giải quyết trong trường hợp thông báo của các thành viên không đến được Ban quản lý, phát sinh từ lỗi kỹ thuật, lỗi đường truyền, phần mềm hoặc các lỗi khác không do Ban quản lý gây ra.</p>
        <p><b>IX. Quyền và nghĩa vụ của Ban quản lý website TMĐT PharmaVillage.com</b></p>
        <p><b>1. Quyền của Ban quản lý PharmaVillage.com</b></p>
        <p>Website TMĐT PharmaVillage.com sẽ tiến hành cung cấp các dịch vụ, sản phẩm cho khách hàng sau khi đã hoàn thành các thủ tục và các điều kiện bắt buộc mà nêu ra.</p>
        <p>PharmaVillage.com sẽ tiến hành xây dựng các chính sách dịch vụ trên Trang web. Các chính sách này sẽ được công bố trên PharmaVillage.com</p>
        <p>Trong trường hợp có cơ sở để chứng minh thành viên cung cấp thông tin cho PharmaVillage.com không chính xác, sai lệch, không đầy đủ hoặc có dấu hiệu vi phạm pháp luật hay thuần phong mỹ tục Việt Nam thì Sàn giao dịch điện tử PharmaVillage.com có quyền từ chối, tạm ngừng hoặc chấm dứt quyền sử dụng dịch vụ của thành viên.</p>
        <p>Website TMĐT PharmaVillage.com có thể chấm dứt quyền thành viên và quyền sử dụng một hoặc tất cả các dịch vụ của thành viên trong trường hợp thành viên vi phạm các Quy chế của Website TMĐT PharmaVillage.com, hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh trên Website TMĐT PharmaVillage.com.</p>
        <p>Website TMĐT PharmaVillage.com có thể chấm dứt ngay quyền sử dụng dịch vụ và quyền thành viên của thành viên nếu Website TMĐT PharmaVillage.com phát hiện thành viên tiếp tục hoạt động có thể gây cho Website TMĐT PharmaVillage.com trách nhiệm pháp lý, có những hoạt động lừa đảo, giả mạo, gây rối loạn thị trường, gây mất đoàn kết đối với các thành viên khác của Website TMĐT PharmaVillage.com, hoạt động vi phạm pháp luật hiện hành của Việt Nam.</p>
        <p>Trong trường hợp chấm dứt quyền thành viên và quyền sử dụng dịch vụ thì tất cả các chứng nhận, các quyền của thành viên được cấp sẽ mặc nhiên hết giá trị và bị chấm dứt.</p>
        <p>Website TMĐT PharmaVillage.com giữ bản quyền sử dụng dịch vụ và các nội dung trên Website TMĐT PharmaVillage.com theo các quy định pháp luật về bảo hộ sở hữu trí tuệ tại Việt Nam. Tất cả các biểu tượng, nội dung theo các ngôn ngữ khác nhau đều thuộc quyền sở hữu của Website TMĐT PharmaVillage.com. Nghiêm cấm mọi hành vi sao chép, sử dụng và phổ biến bất hợp pháp các quyền sở hữu trên.</p>
        <p>Website TMĐT PharmaVillage.com giữ quyền được thay đổi bảng, biểu giá dịch vụ và phương thức thanh toán trong thời gian cung cấp dịch vụ cho thành viên theo nhu cầu và điều kiện khả năng của Website TMĐT PharmaVillage.com.</p>
        <p><b>2. Nghĩa vụ của Ban quản lý PharmaVillage.com</b></p>
        <p>Website TMĐT PharmaVillage.com chịu trách nhiệm xây dựng dịch vụ bao gồm một số công việc chính như: nghiên cứu, thiết kế, mua sắm các thiết bị phần cứng và phần mềm, kết nối Internet, xây dựng chính sách phục vụ cho hoạt động Website TMĐT PharmaVillage.com trong điều kiện và phạm vi cho phép.</p>
        <p>Website TMĐT PharmaVillage.com sẽ tiến hành triển khai và hợp tác với các đối tác trong việc xây dựng hệ thống các dịch vụ, các công cụ tiện ích phục vụ cho việc giao dịch của các thành viên tham gia và người sử dụng trên Website TMĐT PharmaVillage.com.</p>
        <p>Website TMĐT PharmaVillage.com chịu trách nhiệm xây dựng, bổ sung hệ thống các kiến thức, thông tin về: nghiệp vụ ngoại thương, thương mại điện tử, hệ thống văn bản pháp luật thương mại trong nước và quốc tế, thị trường nước ngoài, cũng như các tin tức có liên quan đến hoạt động của Website TMĐT PharmaVillage.com.</p>
        <p>Website TMĐT PharmaVillage.com sẽ tiến hành các hoạt động xúc tiến, quảng bá Website TMĐT PharmaVillage.com ra thị trường nước ngoài trong phạm vi và điều kiện cho phép, góp phần mở rộng, kết nối đáp ứng các nhu cầu tìm kiếm bạn hàng và phát triển thị trường nước ngoài của các thành viên tham gia Website TMĐT PharmaVillage.com.</p>
        <p>Website TMĐT PharmaVillage.com sẽ cố gắng đến mức cao nhất trong phạm vi và điều kiện có thể để duy trì hoạt động bình thường của Website TMĐT PharmaVillage.com và khắc phục các sự cố như: sự cố kỹ thuật về máy móc, lỗi phần mềm, hệ thống đường truyền internet, nhân sự, các biến động xã hội, thiên tai, mất điện, các quyết định của cơ quan nhà nước hay một tổ chức liên quan thứ ba. Tuy nhiên nếu những sự cố trên xảy ra nằm ngoài khả năng kiểm soát, là những trường hợp bất khả kháng mà gây thiệt hại cho thành viên thì Website TMĐT PharmaVillage.com không phải chịu trách nhiệm liên đới.</p>
        <p><b>Website TMĐT PharmaVillage.com phải có trách nhiệm:</b></p>
        <p>Xây dựng và thực hiện cơ chế để đảm bảo việc đăng thông tin trên Website TMĐT PharmaVillage.com được thực hiện chính xác.</p>
        <p>Không đăng tải những thông tin bán hàng hóa, dịch vụ thuộc danh mục hàng hóa, dịch vụ cấm kinh doanh theo quy định của pháp luật và hàng hóa hạn chế kinh doanh theo quy định tại Thông tư 47/2014/TT-BCT.</p>
        <p><b>X. Quyền và trách nhiệm thành viên tham gia website TMĐT PharmaVillage.com</b></p>
        <p><b>1. Quyền của Thành viên Website TMĐT PharmaVillage.com</b></p>
        <p>Khi đăng ký trở thành thành viên của PharmaVillage.com và được PharmaVillage.com đồng ý, thành viên sẽ được tham gia thảo luận, đánh giá sản phẩm, mua hàng tại PharmaVillage.com.</p>
        <p>Thành viên có quyền đóng góp ý kiến cho Website TMĐT PharmaVillage.com trong quá trình hoạt động. Các kiến nghị được gửi trực tiếp bằng thư, fax hoặc email đến cho Website TMĐT PharmaVillage.com.</p>
        <p><b>2. Nghĩa vụ của Ban quản lý PharmaVillage.com</b></p>
        <p>Thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ và mọi hoạt động sử dụng dịch vụ dưới tên đăng ký, mật khẩu và hộp thư điện tử của mình.</p>
        <p>Thành viên cam kết những thông tin cung cấp cho Website TMĐT PharmaVillage.com và những thông tin đang tải lên Website TMĐT PharmaVillage.com là chính xác.</p>
        <p>Thành viên cam kết không được thay đổi, chỉnh sửa, sao chép, truyền bá, phân phối, cung cấp và tạo những công cụ tương tự của dịch vụ do Website TMĐT PharmaVillage.com cung cấp cho một bên thứ ba nếu không được sự đồng ý của Website TMĐT PharmaVillage.com trong Quy định này.</p>
        <p>Thành viên không được hành động gây mất uy tín của Website TMĐT PharmaVillage.com dưới mọi hình thức như gây mất đoàn kết giữa các thành viên bằng cách sử dụng tên đăng ký thứ hai, thông qua một bên thứ ba hoặc tuyên truyền, phổ biến những thông tin không có lợi cho uy tín của Website TMĐT PharmaVillage.com.</p>
        <p><b>XI. Điều khoản áp dụng</b></p>
        <p>Mọi tranh chấp phát sinh giữa Website TMĐT PharmaVillage.com và thành viên sẽ được giải quyết trên cơ sở thương lượng. Trường hợp không đạt được thỏa thuận như mong muốn, một trong hai bên có quyền đưa vụ việc ra Tòa án nhân dân có thẩm quyền tại Thành phố Hồ Chí Minh để giải quyết.</p>
        <p>Quy chế của Website TMĐT PharmaVillage.com chính thức có hiệu lực thi hành kể từ ngày ký Quyết định ban hành kèm theo Quy chế này. Website TMĐT PharmaVillage.com có quyền và có thể thay đổi Quy chế này bằng cách thông báo lên Website TMĐT PharmaVillage.com cho các thành viên biết. Quy chế sửa đổi có hiệu lực kể từ ngày Quyết định về việc sửa đổi Quy chế có hiệu lực. Việc thành viên tiếp tục sử dụng dịch vụ sau khi Quy chế sửa đổi được công bố và thực thi đồng nghĩa với việc họ đã chấp nhận Quy chế sửa đổi này.</p>
    </div>
</div>