
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CHÍNH SÁCH QUYỀN RIÊNG TƯ</h2>

<div class="py-4">
    <div class="pmc-content-html [&amp;_a:not(.ignore-css_a)]:text-hyperLink container">
        <h2 style="text-align: center;"><strong>CHÍNH SÁCH QUYỀN RIÊNG TƯ</strong></h2>
        <p><strong>1. Thông Tin Chung và Sự Chấp Thuận&nbsp;</strong></p>
        <p>Chính Sách Quyền Riêng Tư này (“Chính Sách”) mô tả những thông tin cá nhân (là bất kỳ thông tin nào liên quan đến việc xác định danh tính hoặc có thể xác định danh tính một cá nhân cụ thể) (“Thông Tin Cá Nhân”) mà Công Ty Cổ Phần Dược Phẩm PharmaVillage (sau đây được gọi là “PharmaVillage” hoặc “chúng tôi”) thu thập từ khách hàng (“bạn”) thông qua trang web <a href="https://www.PharmaVillage.com/" target="_blank" rel="noopener">www.PharmaVillage.com</a> (“Trang Web PharmaVillage”) hoặc ứng dụng PharmaVillage (“Ứng Dụng PharmaVillage”) hoặc thông qua các hình thức khác. Chính Sách này mô tả lý do và cách thức mà chúng tôi sử dụng những thông tin cá nhân đó và những biện pháp mà chúng tôi áp dụng để bảo vệ thông tin cá nhân của bạn. Ngoài ra, bạn sẽ được biết về các quyền của bạn và phương thức liên lạc với chúng tôi.</p>
        <p>Bằng việc trao cho chúng tôi Thông Tin Cá Nhân của bạn, việc sử dụng Trang Web PharmaVillage hoặc Ứng Dụng PharmaVillage, bạn đồng ý Thông Tin Cá Nhân của bạn sẽ được thu thập, sử dụng và xử lý như được nêu trong Chính Sách này. Nếu bạn không đồng ý với Chính Sách này, vui lòng không sử dụng Trang Web PharmaVillage hoặc Ứng Dụng PharmaVillage.</p>
        <p>Chính Sách này được điều chỉnh bởi và diễn&nbsp;giải theo pháp luật Việt Nam. PharmaVillage có thể điều chỉnh Chính Sách này vào từng thời điểm để cập nhật các điều khoản phù hợp với thay đổi của pháp luật Việt Nam và/hoặc với các thay đổi trong hoạt động của chúng tôi. Chúng tôi sẽ thông báo cho bạn biết kịp thời về những thay đổi đối với Chính Sách này để Chính Sách Quyền Riêng Tư đảm bảo bạn biết và thực hiện quyền quản lý Thông Tin Cá Nhân của bạn.</p>
        <p><strong>2. Phạm vi thu thập Thông tin cá nhân</strong></p>
        <p>Chúng tôi thu thập thông tin, bao gồm Thông Tin Cá Nhân, nhằm mục đích cung cấp dịch vụ tốt hơn cho tất cả Khách Hàng. Thông Tin Cá Nhân mà chúng tôi thu thập từ bạn có thể bao gồm:</p>
        <p><strong>a. Thông Tin Cá Nhân mà bạn cung cấp cho chúng tôi, bao gồm:&nbsp;</strong></p>
        <ul>
            <li>Tên.</li>
            <li>Giới tính.</li>
            <li>Số điện thoại.</li>
            <li>Ngày sinh.</li>
            <li>Địa chỉ thanh toán và Địa chỉ nhận hàng.</li>
            <li>Đơn hàng, hoá đơn.</li>
            <li>Địa chỉ thư điện tử.</li>
            <li>Thông tin thanh toán.</li>
        </ul>
        <p><strong>b. Thông Tin Cá Nhân mà chúng tôi Thu Thập từ bạn:&nbsp;</strong></p>
        <ul>
            <li>Thông Tin về mạng xã hội của bạn khi bạn liên hệ với chúng tôi qua các kênh liên lạc nhằm mục đích cung cấp các nhận xét hoặc đặt ra các câu hỏi;</li>
            <li>Khi bạn ghé thăm một cửa hàng của chúng tôi, hình ảnh của bạn có thể được ghi lại bởi hệ thống camera an ninh. Chúng tôi đặt thông báo rõ ràng để lưu ý bạn rằng khu vực cửa hàng đang sử dụng camera an ninh;</li>
            <li>Để đem đến trải nghiệm tốt nhất cho bạn, chúng tôi sử dụng cookies và các công nghệ tương tự để thu thập các thông tin kỹ thuật về máy tính hoặc thiết bị của bạn, kết nối mạng, trình duyệt web cũng như quốc gia, khu vực, địa chỉ IP, những sản phẩm mà bạn xem khi ghé thăm trang web, danh mục tìm kiếm của bạn trên Trang Web PharmaVillage mà các thông tin khác về tương tác giữa bạn và Trang Web PharmaVillage. Để biết thêm chi tiết về cookies và các công nghệ được sử dụng, vui lòng xem Điều 4 dưới đây.</li>
        </ul>
        <p>Nếu bạn cung cấp cho chúng tôi Thông Tin Cá Nhân liên quan đến các cá nhân khác, bạn tuyên bố rằng bạn có đủ thẩm quyền để làm việc đó và thừa nhận rằng Thông Tin Cá Nhân đó sẽ được xử lý tuân theo Chính Sách này.</p>
        <p>Bạn hiểu rằng một số thông tin trên đây có thể được coi là thông tin cá nhân nhạy cảm theo quy định pháp luật Việt Nam. Bằng việc cung cấp các thông tin này, bạn đồng ý một cách rõ ràmg để chúng tôi xử lý các thông tin nhạy cảm đó cho các mục đích được thể hiện ở Điều 3 dưới đây. Nếu pháp luật có yêu cầu, bạn đồng ý cung cấp một chấp thuận riêng bằng văn bản để chúng tôi xử lý thông tin cá nhân nhạy cảm của bạn.</p>
        <p><strong>3. Mục đích thu thập&nbsp;Thông tin cá nhân</strong></p>
        <p><strong>Chúng tôi thu thập Thông Tin Cá Nhân chỉ cần thiết nhằm phục vụ cho các mục đích:&nbsp;</strong></p>
        <ul>
            <li>Để xử lý các vấn đề liên quan đến đơn đặt hàng của bạn; để tạo và duy trình tài khoản của bạn với chúng tôi, bao gồm cả các chương trình khách hàng thân thiết hoặc các chương trình thưởng đi kèm với tài khoản của bạn; để phản hồi các yêu cầu, khiếu nại và góp ý của bạn;</li>
            <li>Để ghi nhận đánh giá của bạn đối với các sản phẩm của chúng tôi;</li>
            <li>Để thông báo cho bạn khi có trục trặc về đơn hàng của bạn;</li>
            <li>Để thông báo cho bạn về những thay đổi đối với sản phẩm và dịch vụ của chúng tôi; cho phép chúng tôi phục vụ tốt hơn với sự cá nhân hóa mạnh hơn ở các khía cạnh, bao gồm nhưng không giới hạn: (i) để cải thiện và cá nhân hóa trải nghiệm của bạn trên Trang Web PharmaVillage và Ứng Dụng PharmaVillage, (ii) để cải thiện các tiện ích, dịch vụ, phù hợp với các nhu cầu được cá thể hóa, và (iii) để phục vụ bạn với những giới thiệu, quảng cáo được điều chỉnh phù hợp với sự quan tâm của bạn;</li>
            <li>Cho các mục đích ngăn ngừa các hoạt động phá hủy tài khoản người dùng của khách hàng hoặc các hoạt động giả mạo khách hàng;</li>
            <li>Để chúng tôi thực hiện các quyền và nghĩa vụ theo luật định và theo yêu cầu của cơ quan có thẩm quyền, tùy từng trường hợp; và nhằm mục đích điều tra việc gian lận hoặc vi phạm các Điều Khoản Sử Dụng Trang Web và Ứng Dụng PharmaVillage cũng như Chính Sách này hoặc những hành vi gian lận khác.</li>
        </ul>
        <p><strong>4. Cookies và các Công Nghệ Tương Tự&nbsp;</strong></p>
        <p>Chúng tôi thu thập Thông Tin Cá Nhân của bạn khi Bạn trực tiếp cung cấp cho chúng tôi. Ngoài ra, chúng tôi sử dụng một số công nghệ để thu thập và lưu trữ thông tin, bao gồm cả thông tin cá nhân, khi bạn truy cập vào hoặc tương tác với Trang Web PharmaVillage hoặc Ứng Dụng PharmaVillage, ví dụ như cookies hoặc các công nghệ tương tự để xác định trình duyệt hoặc thiết bị của bạn:</p>
        <ul>
            <li><strong>Cookies:</strong> Cookies là một tập tin nhỏ được đặt trên ổ cứng của máy tính của bạn. Bạn có thể từ chối nhận cookies từ trình duyệt bằng cách điều chỉnh cài đặt trên trình duyệt của bạn. Thông thường, các trình duyệt mặc định nhận cookies.</li>
            <li><strong>Web Beacons:</strong> Web Beacons là một tập dữ liệu cho phép chúng tôi đếm số lượng truy cập vào Trang Web PharmaVillage hoặc tính toán các thông số khác liên quan đến trang web (ví dụ như mức độ phổ biến của một số nội dung, sản phẩm của trang web và để xác nhận tính toàn vẹn của trang web và hệ thống);</li>
            <li><strong>Clickstream Data:</strong> là những thông tin được thu thập bởi hệ thống của chúng tôi khi bạn yêu cầu các trang web từ Trang Web PharmaVillage, ví dụ như trang web đích, thời gian bạn ở trên trang web, trình duyệt web, và các thông tin tương tự;</li>
            <li><strong>API hệ thống trên Ứng Dụng PharmaVillage:</strong> là những giao diện ứng dụng với mục đích (1) đọc và ghi vào danh bạ điện thoại, (2) ghi nhận vị trí hiện tại của thiết bị của bạn, (3) ghi dữ liệu của ứng dụng lên thiết bị của bạn, và (4) kết nối Internet từ thiết bị của bạn.</li>
        </ul>
        <p><strong>5. Thời Gian Lưu Trữ&nbsp;</strong></p>
        <p>Trừ khi pháp luật Việt Nam cho phép hoặc có yêu cầu khác đi, chúng tôi chỉ lưu giữ Thông Tin Cá Nhân của bạn cho đến khi nào việc lưu giữ là cần thiết cho các mục đích mà Thông Tin Cá Nhân được thu thập (bao gồm, cho mục đích đáp ứng bất kỳ nghĩa vụ hoặc yêu cầu pháp luật nào, hoặc các nghĩa vụ và yêu cầu khác đối với việc cung cấp các sản phẩm, dịch vụ cho bạn) và cho việc lưu trữ dữ liệu công nghệ thông tin, nếu có.</p>
        <p>Bạn có thể tự đăng nhập vào tài khoản của bạn và thực hiện hủy bỏ Thông Tin Cá Nhân về bạn mà chúng tôi đang nắm giữ hoặc gửi một yêu cầu xoá với thông tin liên hệ ở Điều 9 dưới đây.</p>
        <p><strong>6. Những người, tổ chức được tiếp cận thông tin cá nhân của khách hàng&nbsp;</strong></p>
        <p><strong>Chúng tôi sẽ không cung cấp Thông Tin Cá Nhân của bạn cho bất kỳ bên thứ ba nào, trừ một số hoạt động cần thiết dưới đây:&nbsp;</strong></p>
        <p>Chúng tôi cung cấp Thông Tin Cá Nhân của bạn cho các đối tác là bên cung cấp dịch vụ liên quan đến việc thực hiện đơn hàng của bạn. Thông Tin Cá Nhân chỉ được cung cấp một cách giới hạn trong phạm vi cần thiết, kèm theo yêu cầu bên thứ ba đó phải áp dụng các biên pháp đảm bảo an ninh, bảo mật đối với Thông Tin Cá Nhân; Chúng tôi có thể sử dụng dịch vụ từ một nhà cung cấp dịch vụ là bên thứ ba để thực hiện một số hoạt động liên quan đến Trang Web PharmaVillage và Ứng Dụng PharmaVillage và khi đó bên thứ ba này có thể truy cập hoặc xử lý các thông tin cá nhân trong quá trình cung cấp các dịch vụ đó. Chúng tôi yêu cầu các bên thứ ba này tuân thủ mọi luật lệ về bảo vệ thông tin cá nhân liên quan và các yêu cầu về an ninh liên quan đến thông tin cá nhân. Chúng tôi có thể cung cấp Dữ Liệu Cá Nhân của bạn khi thực hiện các chương trình có tính liên kết, đồng thực hiện, thuê ngoài cho các mục đích được nêu tại Điều 3; Chúng tôi có thể tiết lộ các Thông Tin Cá Nhân nếu luật pháp yêu cầu hoặc theo yêu cầu hợp lệ của một cơ quan có thẩm quyền; Chuyển giao kinh doanh (nếu có): trong trường hợp chúng tôi sáp nhập, hợp nhất toàn bộ hoặc một phần với công ty khác, bên nhận chuyển nhượng sẽ có quyền truy cập thông tin được chúng tôi lưu trữ, duy trì trong đó bao gồm cả thông tin cá nhân;</p>
        <p>Khi chúng tôi cung cấp Thông Tin Cá Nhân cho các mục đích trên đây, chúng tôi luôn yêu cầu bên nhận thông tin phải bảo mật các Thông Tin Cá Nhân đó và chỉ sử dụng Thông Tin Cá Nhân cho các mục đích đã được thống nhất.</p>
        <p><strong>7. Chính sách bảo mật thông tin thanh toán</strong></p>
        <p>Thông Tin Cá Nhân của bạn được lưu giữ tại hệ thống máy chủ của chúng tôi ở Việt Nam. Chúng tôi luôn nỗ lực để giữ an toàn Thông Tin Cá Nhân mà chúng tôi nắm giữ. Chúng tôi đã và đang thực hiện nhiều biện pháp an toàn, bao gồm:</p>
        <p>Bảo đảm an toàn trong môi trường vận hành: chúng tôi lưu trữ Thông Tin Cá Nhân khách hàng trong môi trường vận hành an toàn và chỉ có nhân viên, đại diện và nhà cung cấp dịch vụ có thể truy cập trên cơ sở cần phải biết. Chúng tôi tuân theo các tiêu chuẩn pháp luật trong việc bảo mật thông tin cá nhân khách hàng;</p>
        <p>Chúng tôi áp dụng các biện pháp kỹ thuật, hành chính và vật lý nhằm bảo vệ Thông Tin Cá Nhân của bạn khỏi truy cập trái phép, mất mát, tổn thất; Trong trường hợp máy chủ lưu trữ thông tin bị tấn công dẫn đến mất mát, tổn thất Thông Tin Cá Nhân của bạn, chúng tôi sẽ có trách nhiệm thông báo vụ việc cho và phối hợp với cơ quan chức năng để điều tra xử lý kịp thời và chúng tôi sẽ thông báo cho bạn biết. Các thông tin thanh toán được bảo mật theo tiêu chuẩn của các đối tác xử lý thanh toán đã được cấp phép hoạt động tại Việt Nam, bao gồm nhưng không giới hạn các tiêu chuẩn về giao thức SSL, Tiêu chuẩn Bảo mật Dữ liệu Ngành Thẻ Thanh toán (PCI/DSS) và các tiêu chuẩn về mã hoá khác theo quy định của Ngân Hàng Nhà Nước.</p>
        <p>Các thông tin mà chúng tôi thu thập bao gồm:</p>
        <ul>
            <li>Thời gian thực hiện thanh toán.</li>
            <li>Mã phiên giao dịch.</li>
            <li>Mã đơn hàng.</li>
            <li>Giá trị thanh toán.</li>
            <li>Tên, số điện thoại của khách hàng.</li>
            <li>Cổng thanh toán.</li>
        </ul>
        <p>Các thông tin khác như thông thẻ ngân hàng, thông tin cá nhân trong thẻ, v.v sẽ do bên thứ 3 chịu trách nhiệm bảo mật.</p>
        <p><strong>8. Quyền Của Bạn Đối Với Thông Tin Cá Nhân&nbsp;</strong></p>
        <p><strong>Quyền chấp thuận hoặc rút lại chấp thuận xử lý Thông Tin Cá Nhân:&nbsp;</strong></p>
        <ul>
            <li>Bạn có quyền chấp thuận cung cấp thông tin cá nhân cho chúng tôi và có thể thay đổi quyết định đó vào bất cứ lúc nào.</li>
        </ul>
        <p><strong>Quyền yêu cầu truy cập, xoá hoặc sửa chữa Dữ Liệu Cá Nhân:&nbsp;</strong></p>
        <ul>
            <li>Bạn có quyền yêu cầu truy cập vào thông tin mà chúng tôi nắm giữ về bạn. Nếu bạn muốn xem, xác nhận, xoá hoặc sửa chữa Thông Tin Cá Nhân của bạn, bạn có thể thực hiện bằng cách đăng nhập vào tài khoản và chỉnh sửa Thông Tin Cá Nhân hoặc yêu cầu chúng tôi thực hiện việc này.</li>
            <li>Khi bạn thực hiện một yêu cầu liên quan đến Thông Tin Cá Nhân, lưu ý rằng chúng tôi có thể yêu cầu một số thông tin cụ thể từ bạn (ví dụ như mật khẩu, tên đăng nhập, mã xác nhận OTP, v.v.) để giúp chúng tôi xác nhận danh tính của bạn và quyền truy cập, cũng như để tìm kiếm và cung cấp cho bạn Thông Tin Cá Nhân của bạn mà chúng tôi đang nắm giữ. Trong trường hợp chúng tôi không thể thực hiện yêu cầu của bạn, chúng tôi sẽ thông báo với bạn về lý do bằng văn bản, tuân thủ bất kỳ hạn chế về pháp luật nào.</li>
            <li>Chúng tôi có trách nhiệm theo quy định pháp luật phải đảm bảo Thông Tin Cá Nhân mà chúng tôi nắm giữ là chính xác, cập nhật và đầy đủ. Nếu bạn tin rằng Dữ Liệu Cá Nhân của bạn là không chính xác, không đầy đủ hoặc đã lỗi thời, bạn có thể yêu cầu Dữ Liệu Cá Nhân của bạn được điều chỉnh hoặc đính chính.</li>
        </ul>
        <p><strong>Quyền hạn chế xử lý thông tin:&nbsp;</strong></p>
        <ul>
            <li>Bạn có quyền yêu cầu chúng tôi (i) dừng việc xử lý Dữ Liệu của bạn, (ii) hạn chế truy cập vào Dữ Liệu Cá Nhân của bạn, và/hoặc (iii) dừng việc cung cấp Dữ Liệu Cá Nhân của bạn cho bất kỳ bên thứ ba nào, trừ khi pháp luật có quy định khác.</li>
            <li>Các quyền khác theo quy định của pháp luật về bảo vệ dự liệu cá nhân.</li>
        </ul>
        <p><strong>9. Thông Tin Liên Hệ&nbsp;</strong></p>
        <p>Nếu bạn có câu hỏi hoặc bất kỳ thắc mắc nào về Chính Sách này hoặc thực tế việc chúng tôi thu thập, quản lý Thông Tin Cá Nhân của bạn, xin vui lòng liên hệ với chúng tôi bằng cách:</p>
        <ul>
            <li>Gọi điện thoại đến hotline: 1800 6821 – Chăm sóc khách hàng</li>
            <li>Gửi thư điện tử đến địa chỉ email: cskh@PharmaVillage.com</li>
        </ul>
        <p><strong>10. Đơn Vị Thu Thập và Quản Lý Thông Tin&nbsp;</strong></p>
        <p>Công ty Cổ phần Dược phẩm PharmaVillage.</p>
        <p><strong>11. Hiệu Lực&nbsp;</strong></p>
        <p>Chính Sách Quyền Riêng Tư này có hiệu lực từ 22/04/2021.</p>
        <p><strong>12. Bản Thay Đổi&nbsp;</strong></p>
    </div>
</div>